{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Hero Section -->
<section class="relative bg-cover bg-center h-[60vh] flex items-center justify-center text-white"
    style="background-image: url('https://images.pexels.com/photos/358636/pexels-photo-358636.jpeg');">
    <div class="absolute inset-0 bg-black/50"></div>
    <div class="relative z-10 text-center px-6 ">
        <h1 class="text-4xl md:text-5xl font-bold mb-4 text-white">Services</h1>
        <p class="text-lg md:text-xl text-white">
            <span class="mr-2"><a href="/" class="hover:underline">Home</a> <i class="fas fa-angle-right"></i></span>
            <span>Services <i class="fas fa-angle-right"></i></span>
        </p>
    </div>
</section>

<!-- Services Section -->
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 my-12 max-w-7xl mx-auto px-6" >
    {% for service in services %}
    <div class="bg-white shadow-md rounded-2xl overflow-hidden flex flex-col hover:shadow-[0_8px_12px_rgba(0,0,0,0.25)]">
        
        <!-- Image -->
        <img src="{{ service.image.url }}" alt="{{ service.project_type }}"
            class="h-64 w-full object-cover rounded-t-2xl" data-aos="fade-up-right">
        
        <!-- Content -->
        <div class="p-6 flex flex-col flex-grow text-center">
            <!-- Title -->
            <h3 class="text-2xl font-bold text-gray-800 mb-4 uppercase tracking-wide">
                {{ service.project_type }}
            </h3>

            <!-- Description -->
            <p class="text-gray-600 mb-6 leading-relaxed text-justify">
                {{ service.description }}
            </p>

            <!-- Button -->
            <a href="{% url 'service_detail' service.id %}"
                class="mt-auto inline-block bg-green-600 hover:bg-green-700 text-white px-8 py-3 rounded-full font-semibold transition duration-300 ease-in-out">
                Know More..
            </a>
        </div>
    </div>
    {% empty %}
    <p class="col-span-3 text-center text-gray-500">No services available.</p>
    {% endfor %}
</div>


{% endblock %}